<div class="connection-indicator @CssClass" title="@Label">
    <span class="connection-dot">@DotChar</span>
    <span class="connection-label">@Label</span>
</div>

@code {
    [Parameter, EditorRequired]
    public GatewayHubConnection Hub { get; set; } = default!;

    private string CssClass => Hub.State switch
    {
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connected => "status-connected",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connecting => "status-connecting",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Reconnecting => "status-reconnecting",
        _ => "status-disconnected"
    };

    private string DotChar => Hub.State switch
    {
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connected => "●",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connecting => "◌",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Reconnecting => "◌",
        _ => "○"
    };

    private string Label => Hub.State switch
    {
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connected => "Connected",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connecting => "Connecting…",
        Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Reconnecting => "Reconnecting…",
        _ => "Disconnected"
    };
}
